<ul style="margin-top: 0;">
  <li><strong>Reference number:</strong> {{ ref }}</li>
  <li><strong>Start date:</strong> {{formattedStartDate}}</li>
  <li><strong>Payment reference:</strong> {{paymentRef}}</li>
  <li><strong>Tenure:</strong> {{tenure}}</li>
  <li><strong>Assigned to:</strong> {{assignedTo}}</li>
</ul>
<ul style="color: rgba(140, 140, 140)">
  <li><strong>Universal Credit:</strong> {{ universalCredit }}</li>
  <li><strong>NoSP served:</strong></li>
  <li><strong>NoSP expires:</strong></li>
  <li><strong>Court Date:</strong></li>
  <li><strong>Eviction Date:</strong></li>
  <li><strong>Last arrears action:</strong></li>
  <li><strong>Property type</strong> {{propertyType}}</li>
  <li><strong>No. of Bedrooms</strong> {{bedrooms}}</li>
</ul>
