<div class="grid-row">
  <div class="column-two-thirds">
    <div class="grid-row">
      <div class="column-two-thirds">
        <h1 class="heading-xlarge">{{ name }}</h1>
        <ul>
          <li><strong>Reference number:</strong> {{ ref }}</li>
          <li><strong>Start date:</strong> {{formattedStartDate}}</li>
          <li><strong>Payment reference:</strong> {{paymentRef}}</li>
          <li><strong>Tenure:</strong> {{tenure}}</li>
          <li><strong>Assigned to:</strong> {{assignedTo}}</li>
          <br />
          <li><strong>NoSP served:</strong></li>
          <li><strong>NoSP expires:</strong></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="column-one-third">
    <a class="button" href="/nyi">Pause case</a>
    <div class="tenancy_list__item--red priority_band">
      <strong>PRIORITY</strong>
    </div>
  </div>
</div>
