{% extends "layout.html" %}

{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-0">
  Donald S. Roy
  <span class="govuk-caption-l"> at 57 Haslemere Road, Eastry, CT13 3XS</span>
</h1>

<div class="govuk-inset-text">
  <h2 class="govuk-heading-l">
    £549.95 in arrears
  </h2>
</div>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-!-margin-bottom-0">
  <strong>Reference number: </strong>123456
</p>
<p class="govuk-!-margin-bottom-0">
  <strong>Start date: </strong>01/01/1999
</p>
<p class="govuk-!-margin-bottom-0">
  <strong>Payment reference: </strong>4456151
</p>
<p class="govuk-!-margin-bottom-0">
  <strong>Tenure: </strong>Secure
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-!-margin-bottom-0">
  <strong>Contact details</strong>
</p>
<p class="govuk-body govuk-!-margin-bottom-0">Mr Donald S. Roy</p>
<p class="govuk-body govuk-!-margin-bottom-0">070 7485 3989</p>
<p class="govuk-body govuk-!-margin-bottom-0">donroy@hotmail.co.uk</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<div class="govuk-tabs" data-module="govuk-tabs">
  <ul class="govuk-tabs__list">
    <li class="govuk-tabs__list-item govuk-tabs__list-item--selected">
      <a class="govuk-tabs__tab" href="#history">
        History by week
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#letters">
        Letters
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#contact">
        Contact attempts
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#legal">
        Court history
      </a>
    </li>
    <li class="govuk-tabs__list-item">
      <a class="govuk-tabs__tab" href="#behaviour">
        Behaviour and agreements
      </a>
    </li>
  </ul>

  <section class="govuk-tabs__panel" id="history">
    <h2 class="govuk-heading-l">History by week</h2>
    <p class="govuk-body">
      This account last fell into arrears <strong>five weeks ago</strong>.
    </p>
    <p class="govuk-body">
      The last payment was <strong>£43.40</strong>, five weeks ago.
    </p>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Incoming (£)</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Outgoing (£)</th>
          <th scope="col" class="govuk-table__header govuk-table__header--numeric">Balance (£)</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  12 - 18 Aug
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#contact'>One phone call to tenant</a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            118.67
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">549.95</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  5 - 11 Aug
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#contact'>
                          No contact with tenant
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">431.28</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  29 Jul - 4 Aug
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#letters'>
                          One letter sent to tenant
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">312.61</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  15 - 21 Jul
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#contact'>
                          No contact with tenant
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">193.94</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  8 - 14 Jul
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Paypoint payment
                      </td>
                      <td class="govuk-table__cell">(43.40)</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#contact'>
                          No contact with tenant
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">43.40</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">75.27</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  1 - 7 Jul
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Post office payment
                      </td>
                      <td class="govuk-table__cell">(118.67)</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#contact'>
                          No contact with tenant
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
        </tr>

        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            <details class="govuk-details govuk-!-margin-bottom-0" data-module="govuk-details">
              <summary class="govuk-details__summary">
                <span class="govuk-details__summary-text">
                  22 - 28 Jul
                </span>
              </summary>
              <div class="govuk-details__text">
                <table class="govuk-table">
                  <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Basic rent
                      </td>
                      <td class="govuk-table__cell">48.67</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Heating
                      </td>
                      <td class="govuk-table__cell">45.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Water rates
                      </td>
                      <td class="govuk-table__cell">25.00</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        Paypoint payment
                      </td>
                      <td class="govuk-table__cell">(118.67)</td>
                    </tr>
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        <a href='#contact'>
                          No contact with tenant
                        </a>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </details>
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">118.67</td>
          <td class="govuk-table__cell govuk-table__cell--numeric">0</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      <a class="govuk-link" href="/nyi">See history older than 6 weeks</a>
    </p>
  </section>

  <section class="govuk-tabs__panel" id="letters">
    <h2 class="govuk-heading-l">Letters</h2>
    <p class="govuk-body">
      We've sent <strong>four</strong> letters to this tenant in the last 12 months.
    </p>
    <p class="govuk-body">
      The last letter was <strong>letter 1</strong>, sent three weeks ago.
    </p>

    <p class="govuk-body">
      <a class="govuk-link" href="/nyi">Send another letter to this tenant</a>
    </p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Letter type</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            30 Jul
          </td>
          <td class="govuk-table__cell">letter 1 (initial warning)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            24 Apr
          </td>
          <td class="govuk-table__cell">letter 1 (initial warning)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            11 Feb
          </td>
          <td class="govuk-table__cell">letter 2 (followup warning)</td>
        </tr>
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            19 Jan
          </td>
          <td class="govuk-table__cell">letter 1 (initial warning)</td>
        </tr>
      </tbody>
    </table>

    <p class="govuk-body">
      <a class="govuk-link" href="/nyi">See letters older than 12 months</a>
    </p>
  </section>

  <section class="govuk-tabs__panel" id="contact">
    <h2 class="govuk-heading-l">Contact attempts</h2>
    <p class="govuk-body">
      We last called this tenant <strong>four days ago</strong>.
    </p>

    <p class="govuk-body">
      We've never texted or e-mailed this tenant.
    </p>

    <p><a class="govuk-body govuk-link" href="/nyi">Contact this tenant</a></p>

    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th scope="col" class="govuk-table__header">Date</th>
          <th scope="col" class="govuk-table__header">Contact type</th>
          <th scope="col" class="govuk-table__header">Result</th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
            13 Aug
          </td>
          <td class="govuk-table__cell">Phone call</td>
          <td class="govuk-table__cell">Tenant did not pick up phone</td>
        </tr>
      </tbody>
    </table>

    <a class="govuk-body govuk-link" href="/nyi">See contact attempts older than 6 weeks</a>
  </section>

  <section class="govuk-tabs__panel" id="legal">
    <h2 class="govuk-heading-l">Court history</h2>
    <p class="govuk-body">
      We've never served notice on this tenant.
    </p>
    <p class="govuk-body">
      We've never taken this tenant to court.
    </p>
  </section>

  <section class="govuk-tabs__panel" id="behaviour">
    <h2 class="govuk-heading-l">Behaviour and agreements</h2>
    <p class="govuk-body">
      We've never served notice on this tenant.
    </p>

    <p class="govuk-body">
      This tenant has never had a payment agreement.
    </p>

    <a class="govuk-link govuk-body" href="/nyi">Record a payment agreement</a>
  </section>
</div>

{% endblock %}
