{% extends "layout.html" %}

{% block content %}

<h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
  Donald S. Roy
</h1>

<h1 class="govuk-heading-l">
  £6,635
  <span class="govuk-caption-m">in arrears</span>
</h1>

<p>
  <strong>Tenancy address: </strong>57 Haslemere Road, Eastry, CT13 3XS
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-!-margin-bottom-0">
  <strong>Reference number: </strong>123456
</p>
<p class="govuk-!-margin-bottom-0">
  <strong>Start date: </strong>01/01/1999
</p>
<p class="govuk-!-margin-bottom-0">
  <strong>Payment reference: </strong>4456151
</p>
<p class="govuk-!-margin-bottom-0">
  <strong>Tenure: </strong>Secure
</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

<p class="govuk-!-margin-bottom-0">
  <strong>Contact details</strong>
</p>
<p class="govuk-body govuk-!-margin-bottom-0">Mr Donald S. Roy</p>
<p class="govuk-body govuk-!-margin-bottom-0">070 7485 3989</p>
<p class="govuk-body govuk-!-margin-bottom-0">donroy@hotmail.co.uk</p>

<hr class="govuk-section-break govuk-section-break--m govuk-section-break--visible">

{% endblock %}
