.link {
  &--disabled {
    cursor: not-allowed;
    opacity: 0.5;
    pointer-events: none;
  }

  &--back,
  &--forward {
    border-bottom: 1px solid $black;
    color: $black;
    position: relative;
    text-decoration: none;

    &:link,
    &:active,
    &:focus,
    &:visited,
    &:hover {
      color: $black;
    }
  }

  &--back {
    padding-left: 14px;

    &::before {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-right: 6px solid $black;
      border-bottom: 5px solid transparent;
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -4px;
    }
  }

  &--forward {
    padding-right: 14px;

    &::after {
      content: '';
      display: block;
      width: 0;
      height: 0;
      border-top: 5px solid transparent;
      border-left: 6px solid $black;
      border-bottom: 5px solid transparent;
      position: absolute;
      right: 0;
      top: 50%;
      margin-top: -4px;
    }
  }
}
