.scrollable-box {
  height: 375px;
  overflow: auto;
  border: thin solid gray;
  margin: 0 0 2% 0;
}

.date-column { width: 25%; }
.type-column { width: 15%; }
.description-column { width: 50%; }
.user-column { width: 10%; }

.transaction-column { width: 29%; }
.incoming-column { width: 12%; }
.outgoing-column { width: 12%; }
.balance-column { width: 12%; }
