{% extends "layout.html" %}

{% block content %}

<table class="govuk-table" style="white-space: nowrap; overflow: hidden;">
    <tbody class="govuk-table">
    <tr class="govuk-table__row">
        <th colspan="2" scope="col" class="govuk-table__header" style="text-align: center">
            Week 21
        </th>
        <td class="govuk-table__cell">
            <details class="govuk-details" style="margin: 0">
                <summary class="govuk-details__summary">
                     <span class="govuk-details__summary-text actions-button">
                        2 Actions
                    </span>
                </summary>
            </details>
        </td>
        <td class="govuk-table__cell" style="margin:0">
            <details class="govuk-details" style="margin: 0">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text transactions-button">
                        1 Transactions
                    </span>
                </summary>
            </details>
        </td>
        <td class="govuk-table__cell numeric negative">£0.00</td>
        <td class="govuk-table__cell numeric positive">£10.00</td>
        <td class="govuk-table__cell numeric negative">£80.00</td>
    </tr>
    <tr class="actions-breakdown" style="display: none">
        <td style="text-align: right">3 Jun 2019</td>
        <td style="text-align: right">09:32</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Action</strong> Unsuccessful visit | 23/09 Carded with
            offi...
        </td>
        <td class="govuk-table__cell numeric negative"></td>
        <td class="govuk-table__cell numeric positive"></td>
        <td class="govuk-table__cell numeric negative">£0.00</td>
    </tr>
    <tr class="transactions-breakdown" style="display: none">
        <td style="text-align: right">1 Jun 2019</td>
        <td style="text-align: right">13:59</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Transaction</strong> Service charges
        </td>
        <td class="numeric negative">£0.00</td>
        <td class="numeric positive">£10.00</td>
        <td class="numeric negative">£80.00</td>
    </tr>
    <tr class="actions-breakdown" style="display: none">
        <td style="text-align: right">30 May 2019</td>
        <td style="text-align: right">10:20</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Action</strong> Unsuccessful visit | 23/09 Carded with
            offi...
        </td>
        <td class="numeric negative"></td>
        <td class="numeric positive"></td>
        <td class="numeric negative">£70.00</td>
    </tr>
    </tbody>
    <tbody class="govuk-table">
    <tr class="govuk-table__row">
        <th colspan="2" scope="col" class="govuk-table__header" style="text-align: center">
            Week 20
        </th>
        <td class="govuk-table__cell">
            <details class="govuk-details" style="margin: 0">
                <summary class="govuk-details__summary">
                     <span class="govuk-details__summary-text actions-button">
                        2 Actions
                    </span>
                </summary>
            </details>
        </td>
        <td class="govuk-table__cell" style="margin:0">
            <details class="govuk-details" style="margin: 0">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text transactions-button">
                        1 Transactions
                    </span>
                </summary>
            </details>
        </td>
        <td class="govuk-table__cell numeric negative">£0.00</td>
        <td class="govuk-table__cell numeric positive">£10.00</td>
        <td class="govuk-table__cell numeric negative">£80.00</td>
    </tr>
    <tr class="actions-breakdown" style="display: none">
        <td style="text-align: right">3 Jun 2019</td>
        <td style="text-align: right">09:32</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Action</strong> Unsuccessful visit | 23/09 Carded with
            offi...
        </td>
        <td class="govuk-table__cell numeric negative"></td>
        <td class="govuk-table__cell numeric positive"></td>
        <td class="govuk-table__cell numeric negative">£0.00</td>
    </tr>
    <tr class="transactions-breakdown" style="display: none">
        <td style="text-align: right">1 Jun 2019</td>
        <td style="text-align: right">13:59</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Transaction</strong> Service charges
        </td>
        <td class="numeric negative">£0.00</td>
        <td class="numeric positive">£10.00</td>
        <td class="numeric negative">£80.00</td>
    </tr>
    <tr class="actions-breakdown" style="display: none">
        <td style="text-align: right">30 May 2019</td>
        <td style="text-align: right">10:20</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Action</strong> Unsuccessful visit | 23/09 Carded with
            offi...
        </td>
        <td class="numeric negative"></td>
        <td class="numeric positive"></td>
        <td class="numeric negative">£70.00</td>
    </tr>
    </tbody>
    <tbody class="govuk-table">
    <tr class="govuk-table__row">
        <th colspan="2" scope="col" class="govuk-table__header" style="text-align: center">
            Week 19
        </th>
        <td class="govuk-table__cell">
            <details class="govuk-details" style="margin: 0">
                <summary class="govuk-details__summary">
                     <span class="govuk-details__summary-text actions-button">
                        2 Actions
                    </span>
                </summary>
            </details>
        </td>
        <td class="govuk-table__cell" style="margin:0">
            <details class="govuk-details" style="margin: 0">
                <summary class="govuk-details__summary">
                    <span class="govuk-details__summary-text transactions-button">
                        1 Transactions
                    </span>
                </summary>
            </details>
        </td>
        <td class="govuk-table__cell numeric negative">£0.00</td>
        <td class="govuk-table__cell numeric positive">£10.00</td>
        <td class="govuk-table__cell numeric negative">£80.00</td>
    </tr>
    <tr class="actions-breakdown" style="display: none">
        <td style="text-align: right">3 Jun 2019</td>
        <td style="text-align: right">09:32</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Action</strong> Unsuccessful visit | 23/09 Carded with
            offi...
        </td>
        <td class="govuk-table__cell numeric negative"></td>
        <td class="govuk-table__cell numeric positive"></td>
        <td class="govuk-table__cell numeric negative">£0.00</td>
    </tr>
    <tr class="transactions-breakdown" style="display: none">
        <td style="text-align: right">1 Jun 2019</td>
        <td style="text-align: right">13:59</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Transaction</strong> Service charges
        </td>
        <td class="numeric negative">£0.00</td>
        <td class="numeric positive">£10.00</td>
        <td class="numeric negative">£80.00</td>
    </tr>
    <tr class="actions-breakdown" style="display: none">
        <td style="text-align: right">30 May 2019</td>
        <td style="text-align: right">10:20</td>
        <td colspan="2">
            <strong class="govuk-tag" style="float: right">Action</strong> Unsuccessful visit | 23/09 Carded with
            offi...
        </td>
        <td class="numeric negative"></td>
        <td class="numeric positive"></td>
        <td class="numeric negative">£70.00</td>
    </tr>
    </tbody>
</table>

<script>
  $(document).ready(function () {
    $('.actions-button').click(function () {
      $(this).parents('tbody').find('.actions-breakdown').toggle()
    })
    $('.transactions-button').click(function () {
      $(this).parents('tbody').find('.transactions-breakdown').toggle()
    })
  })
</script>

{% endblock %}
