
{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">
      Manage Arrears Prototypes
    </h1>
    <h2 class="govuk-heading-m">Uncategorised</h2>
    <ul>
      <li><a class="govuk-body govuk-link" href="/view-all-transactions">See action diary entries against transaction weeks</a></li>
    </ul>

    <h2 class="govuk-heading-m">Account summaries</h2>
    <ul>
      <li><a class="govuk-body govuk-link" href="/more-summaries">Word-heavy summary for one account</a></li>

      <li><a class="govuk-body govuk-link" href="/tabbed-summaries">Tabbed summaries for one account</a></li>
    </ul>

    <h2 class="govuk-heading-m">Worktray</h2>
    <ul>
      <li><a class="govuk-body govuk-link" href="/filtered-worktray">Filtered worktray in tabs</a></li>
    </ul>
  </div>
</div>

{% endblock %}
